# Folder view configuration files
.DS_Store
Desktop.ini

# Files that might appear on external disks
.Spotlight-V100
.Trashes


#GPG things we don't want online
config/gnupg/*

!config/gnupg/gpg*.conf

#SSH things we don't want online
config/ssh/*

#Don't commit local gitconfig
config/git/gitconfig.local

#Don't commit compiled Lua plugins for Neovim
config/nvim/lua/compiled.lua

#Don't commit auto backups from karabiner
config/karabiner/automatic_backups

# Don't commit Brew lockfile (unclear and naming is confusing but see: https://github.com/Homebrew/homebrew-bundle/issues/1188)
config/brew/Brewfile.lock.json
