# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

#Unnecessary Atom Files
atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

#GPG things we don't want online
gnupg.symlink/pubring.gpg*
gnupg.symlink/secring.gpg*
gnupg.symlink/trustdb.gpg*
gnupg.symlink/random_seed*
gnupg.symlink/private-keys-v1.d*
