# Folder view configuration files
.DS_Store
Desktop.ini

# Files that might appear on external disks
.Spotlight-V100
.Trashes


#GPG things we don't want online
gnupg.symlink/
!gnupg.symlink/gpg*.conf

#SSH things we don't want online
ssh.symlink/*

#Don't commit local gitconfig
git/gitconfig.local.symlink

#Don't commit vim plugged
vim/vim.symlink/plugged
vim/vim.symlink/autoload/plug.vim.old
