"*":
  core:
    disabledPackages: [
      "jslint"
      "linter-htmlhint"
      "linter-scss-lint"
    ]
    excludeVcsIgnoredPaths: false
    projectHome: "/Users/Sean/Developer"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    softWrapAtPreferredLineLength: true
  emmet: {}
  "exception-reporting":
    userId: "4569bb35-01de-b4e5-58e9-1be2df920467"
  "imdone-atom":
    openIn: {}
    todaysJournal: {}
  "imdone-atom-github":
    accessToken: "eeef29973243a9adcd0767c1f9a04494fac91650"
  linter: {}
  "linter-htmlhint": {}
  "linter-scss-lint": {}
  "linter-shellcheck": {}
  "linter-stylelint":
    useStandard: true
  "linter-tidy": {}
  "markdown-preview-plus": {}
  "one-light-ui": {}
  "quick-editor": {}
  "remote-edit": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
