"*":
  _dartlang:
    _errorsInitialized: true
    _firstRun: true
    _version: "0.6.39"
  "atom-material-ui":
    colors:
      genAccent: true
      paintCursor: true
    tabs:
      compactTabs: true
      noTabMinWidth: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-toolbar":
    visible: false
  "autocomplete-plus":
    autoActivationDelay: 500
  autosave:
    enabled: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "jslint"
      "linter-htmlhint"
      "linter-scss-lint"
      "git-plus"
      "linter-js-standard"
      "language-babel"
      "linter"
    ]
    excludeVcsIgnoredPaths: false
    followSymlinks: false
    projectHome: "/Users/Sean/Developer"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  emmet: {}
  "exception-reporting":
    userId: "4569bb35-01de-b4e5-58e9-1be2df920467"
  gofmt:
    formatTool: "gofmt"
  "gometalinter-linter": {}
  "imdone-atom":
    openIn: {}
    todaysJournal: {}
  "imdone-atom-github":
    accessToken: "eeef29973243a9adcd0767c1f9a04494fac91650"
  linter:
    displayLinterInfo: false
    showErrorPanel: false
  "linter-eslint":
    disableWhenNoEslintConfig: false
    fixOnSave: true
  "linter-flake8":
    ignoreErrorCodes: [
      "E501"
      "F403"
    ]
  "linter-htmlhint": {}
  "linter-js-standard":
    honorStyleSettings: false
  "linter-scss-lint": {}
  "linter-shellcheck": {}
  "linter-stylelint":
    useStandard: true
  "linter-tidy": {}
  "markdown-preview-plus": {}
  nuclide:
    installRecommendedPackages: true
    "nuclide-code-format": {}
    "nuclide-flow":
      enableStructuredTypeHints: true
    "nuclide-home":
      showHome: false
    use:
      "nuclide-file-tree": false
      "nuclide-side-bar": false
  "one-light-ui": {}
  "quick-editor": {}
  "remote-edit": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "standard-formatter":
    formatOnSave: true
    honorPackageConfig: false
  "tester-go":
    runCoverageOnSave: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    tabLength: 4
".coffee.jsx.source":
  editor:
    tabLength: 4
".dart.source":
  editor:
    tabLength: 4
".dockerfile.source":
  editor:
    tabLength: 4
".hack.html.text":
  editor:
    tabLength: 4
".hackfragment.source":
  editor:
    tabLength: 4
".hg-commit.text":
  editor:
    tabLength: 4
".js.jsx.source":
  editor:
    tabLength: 4
".source.ts":
  editor:
    tabLength: 4
".source.tsx":
  editor:
    tabLength: 4
".source.yaml-ext":
  editor:
    tabLength: 4
