"*":
  "atom-material-ui":
    colors:
      genAccent: true
      paintCursor: true
    tabs:
      compactTabs: true
      noTabMinWidth: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  autosave:
    enabled: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "jslint"
      "linter-htmlhint"
      "linter-scss-lint"
      "git-plus"
    ]
    excludeVcsIgnoredPaths: false
    projectHome: "/Users/Sean/Developer"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  emmet: {}
  "exception-reporting":
    userId: "4569bb35-01de-b4e5-58e9-1be2df920467"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  gofmt: {}
  "imdone-atom":
    openIn: {}
    todaysJournal: {}
  "imdone-atom-github":
    accessToken: "eeef29973243a9adcd0767c1f9a04494fac91650"
  linter: {}
  "linter-flake8":
    ignoreErrorCodes: [
      "E501"
      "F403"
    ]
  "linter-htmlhint": {}
  "linter-scss-lint": {}
  "linter-shellcheck": {}
  "linter-stylelint":
    useStandard: true
  "linter-tidy": {}
  "markdown-preview-plus": {}
  nuclide:
    "nuclide-home":
      showHome: false
  "one-light-ui": {}
  "quick-editor": {}
  "remote-edit": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    tabLength: 4
".dockerfile.source":
  editor:
    tabLength: 4
".hack.html.text":
  editor:
    tabLength: 4
".hackfragment.source":
  editor:
    tabLength: 4
".hg-commit.text":
  editor:
    tabLength: 4
