packages: [
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-ui"
  "atom-toolbar"
  "autoclose-html"
  "dash"
  "editorconfig"
  "file-icons"
  "git-blame"
  "git-time-machine"
  "github-atom-light-syntax"
  "go-debug"
  "go-plus"
  "go-signature-statusbar"
  "haskell-grammar"
  "highlight-selected"
  "language-babel"
  "language-docker"
  "language-graphql"
  "language-groovy"
  "language-ini"
  "language-lua"
  "language-ocaml"
  "language-protobuf"
  "language-swift"
  "language-thrift"
  "linter"
  "linter-docker"
  "linter-eslint"
  "linter-flake8"
  "linter-js-yaml"
  "linter-shellcheck"
  "linter-stylelint"
  "merge-conflicts"
  "nuclide"
  "nuclide-format-js"
  "package-sync"
  "pigments"
  "qolor"
  "react"
  "remote-edit"
  "set-syntax"
  "sort-lines"
  "terminal-plus"
  "tool-bar"
]
